# Pre-Processing Plato's Dialogues
## Iris Wu (iw5hte@virginia.edu) DS 5001 Spring 2023

## End goal of this notebook:
Convert the collection from their source formats (F0) into a set of tables that conform to the Standard Text Analytic Data Model (F2) and Annotate these tables with statistical and linguistic features using NLP libraries such as NLTK (F3)

### Setting up necessary tools:

Importing useful packages -

In [205]:
import pandas as pd
import numpy as np
from glob import glob
import re
import nltk
import plotly.express as px
from textparser import TextParser

Defining useful filepaths for reading and outputting data -

In [206]:
source_files = f'data'
out_path = f'data/output/plato'

Defining useful lists and patterns corresponding to each document for later preprocessing -

In [207]:
OHCO = ['book_id', 'chap_id', 'para_num', 'sent_num', 'token_num']

ohco_pat_list refers to the chapter pattern delineations. Some of Plato's dialogues remain undivided, or at least undivided in any sensible fashion, so they remain one big chunk of texts. Others, like The Republic, are divided into books. beginning_pat is a dictionary used to eliminate Benjamin Jowett's superfluous commentary and introductions to the dialogues in each document.

In [210]:
roman = '[IVXLCM]+'
caps = "[A-Z';, -]+"

ohco_pat_list = [
    
    (1676,   rf"PERSONS OF THE DIALOGUE:"),
    (1677,   rf"PERSONS OF THE DIALOGUE:"),
    (1600,   rf"PERSONS OF THE DIALOGUE:"),
    (1656, rf"APOLOGY"),
    (1580,   rf"PERSONS OF THE DIALOGUE:"),
    (1616,   rf"PERSONS OF THE DIALOGUE:"),
    (1571,   rf"PERSONS OF THE DIALOGUE:"),
    (1657,   rf"PERSONS OF THE DIALOGUE:"),
    (1681,   rf"PERSONS OF THE DIALOGUE:"),
    (1598,   rf"PERSONS OF THE DIALOGUE:"),
    (1642,   rf"PERSONS OF THE DIALOGUE:"),
    (1672,   rf"PERSONS OF THE DIALOGUE:"),
    (1635,   rf"PERSONS OF THE DIALOGUE:"),
    (1584,   rf"PERSONS OF THE DIALOGUE:"),
    (1673,   rf"PERSONS OF THE DIALOGUE:"),
    (1682,   rf"PERSONS OF THE DIALOGUE:"),
    (1579,   rf"PERSONS OF THE DIALOGUE:"),
    (1643,   rf"PERSONS OF THE DIALOGUE:"),
    (1687,   rf"PERSONS OF THE DIALOGUE:"),
    (1658,   rf"PERSONS OF THE DIALOGUE:"),
    (1636,   rf"PERSONS OF THE DIALOGUE:"),
    (1744,   rf"PERSONS OF THE DIALOGUE:"),
    (1591,   rf"PERSONS OF THE DIALOGUE:"),
    (1735,   rf"PERSONS OF THE DIALOGUE:"),
    (1738,   rf"PERSONS OF THE DIALOGUE:"),
    (1726,   rf"PERSONS OF THE DIALOGUE:"),
    (1572,   rf"^Section\s+\d+.$"),
    (1497,  rf"^\s*BOOK\s+{roman}\.\s*$"),
    (1750,  rf"^\s*BOOK\s+{roman}\.\s*$")
    
]

beginning_pat = {
    1571 : ["sense of the artistic difficulty of the design, cannot be determined.", r"\*\*\*\s*END OF"],
    1572 : ["or anticipates the discoveries of modern science.", r"\*\*\*\s*END OF"],
    1580 : ["rather to belong to a later stage of the philosophy of Plato.", r"\*\*\*\s*END OF"],
    1676 : ["(see Appendix I above)", r"\*\*\*\s*END OF"],
    1616 : ["to the latter work the author of this Essay is largely indebted", r"\*\*\*\s*END OF"],
    1677 : ["century before Christ.", r"\*\*\*\s*END OF"],
    1656 : ["the eyes of the Athenian public.", r"\*\*\*\s*END OF"],
    1681 : ["an imitator of Plato.", r"\*\*\*\s*END OF"],
    1598 : ["assigning to the Euthydemus any other position in the series.", r"\*\*\*\s*END OF"],
    1642 : ["trial or the reverse, can any evidence of the date be obtained.", r"\*\*\*\s*END OF"],
    1672 : ["daily life are not overlooked.", r"\*\*\*\s*END OF"],
    1635 : ["this truly Platonic little work is not a forgery of later times.", r"\*\*\*\s*END OF"],
    1584 : ["could not have been a young man at any time after the battle of Delium.", r"\*\*\*\s*END OF"],
    1673 : ["sufficient reasons for doubting the genuineness of the work.", r"\*\*\*\s*END OF"],
    1579 : ["Friendship; Cic. de Amicitia.", r"\*\*\*\s*END OF"],
    1682 : ["Platonic writings.", r"\*\*\*\s*END OF"],
    1643 : ["another.", r"\*\*\*\s*END OF"],
    1750 : ["THE PREAMBLE.", r"\*\*\*\s*END OF"],
    1591 : ["elements of human nature are reconciled.", r"\*\*\*\s*END OF"],
    1687 : ["but deeply rooted in history and in the human", r"\*\*\*\s*END OF"],
    1636 : ["the fear that literature will ever die out.", r"\*\*\*\s*END OF"],
    1658 : ["linger among critical uncertainties.", r"\*\*\*\s*END OF"],
    1744 : ["'spectator of all time and of all existence'?", r"\*\*\*\s*END OF"],
    1735 : ["'fragments of the great banquet' of Hegel.", r"\*\*\*\s*END OF"],
    1738 : ["be reunited with the great body of the Platonic writings.", r"\*\*\*\s*END OF"],
    1600 : ["together in a series the memorials of the life of Socrates.", r"\*\*\*\s*END OF"],
    1497 : ["introduced in the Timaeus.", r"\*\*\*\s*END OF"],
    1726 : ["opportunity of learning.", r"\*\*\*\s*END OF"],
    1657 : ["occur in Plato.", r"End of this Project Gutenberg Etext of Crito, by Plato"]
}

Functions to be used in processing -

The below function is used to tokenize a document. This is drawn from Professor Alvarado's function in module 4 with a few modifications and his textparser.py class.

In [209]:
def tokenize_collection(LIB, clip_pats):

    books = []
    for book_id in LIB.index:

        # Announce
        print("Tokenizing", book_id, LIB.loc[book_id].raw_title)

        # Define vars
        chap_regex = LIB.loc[book_id].chap_regex
        ohco_pats = [('chap', chap_regex, 'm')]
        src_file_path = LIB.loc[book_id].source_file_path

        # Create object
        text = TextParser(src_file_path, ohco_pats=ohco_pats, clip_pats=clip_pats[book_id], use_nltk=True)

        # Define parameters
        text.verbose = True
        text.strip_hyphens = True
        text.strip_whitespace = True

        # Parse
        text.import_source().parse_tokens()

        # Name things
        text.TOKENS['book_id'] = book_id
        text.TOKENS = text.TOKENS.reset_index().set_index(['book_id'] + text.OHCO)

        # Add to list
        books.append(text.TOKENS)
        
    # Combine into a single dataframe
    CORPUS = pd.concat(books).sort_index()

    # Clean up
    del(books)
    del(text)
        
    print("Done")
        
    return CORPUS

The below function is used to gather a table of tokens into a document table of varying OHCO levels (as defined in the OHCO list above). This function also draws on Professor Alvarado's Module 4 code.

In [212]:
def gather(TOKENS, ohco_level):
    level_name = OHCO[ohco_level-1].split('_')[0]
    df = TOKENS.reset_index().groupby(OHCO[:ohco_level])\
        .token_str.apply(lambda x: x.str.cat(sep=' '))\
        .to_frame(f"{level_name}_str")
    return df

Importing the data and creating the LIB table -

In [213]:
source_file_list = sorted(glob(f"{source_files}/*.*"))
source_file_list

['data/ALCIBIADES_I-pg1676.txt',
 'data/ALCIBIADES_II-pg1677.txt',
 'data/APOLOGY-pg1656.txt',
 'data/CHARMIDES-pg1580.txt',
 'data/CRATYLUS-pg1616.txt',
 'data/CRITIAS-pg1571.txt',
 'data/CRITO-pg1657.txt',
 'data/ERYXIAS-pg1681.txt',
 'data/EUTHYDEMUS-pg1598.txt',
 'data/EUTHYPHRO-pg1642.txt',
 'data/GORGIAS-pg1672.txt',
 'data/ION-pg1635.txt',
 'data/LACHES-pg1584.txt',
 'data/LAWS-pg1750.txt',
 'data/LESSER_HIPPIAS-pg1673.txt',
 'data/LYSIS-pg1579.txt',
 'data/MENEXENUS-pg1682.txt',
 'data/MENO-pg1643.txt',
 'data/PARMENIDES-pg1687.txt',
 'data/PHAEDO-pg1658.txt',
 'data/PHAEDRUS-pg1636.txt',
 'data/PHILEBUS-pg1744.txt',
 'data/PROTAGORAS-pg1591.txt',
 'data/SOPHIST-pg1735.txt',
 'data/STATESMAN-pg1738.txt',
 'data/SYMPOSIUM-pg1600.txt',
 'data/THEAETETUS-pg1726.txt',
 'data/THE_REPUBLIC-pg1497.txt',
 'data/TIMAEUS-pg1572.txt']

In [214]:
book_data = []
for source_file_path in source_file_list:
    book_id = int(source_file_path.split('-')[-1].split('.')[0].replace('pg',''))
    book_title = source_file_path.split('/')[-1].split('-')[0].replace('_', ' ')
    book_data.append((book_id, source_file_path, book_title))
LIB = pd.DataFrame(book_data, columns=['book_id','source_file_path','raw_title'])\
    .set_index('book_id').sort_index()
LIB

                       source_file_path       raw_title
book_id
1497       data/THE_REPUBLIC-pg1497.txt    THE REPUBLIC
1571            data/CRITIAS-pg1571.txt         CRITIAS
1572            data/TIMAEUS-pg1572.txt         TIMAEUS
1579              data/LYSIS-pg1579.txt           LYSIS
1580          data/CHARMIDES-pg1580.txt       CHARMIDES
1584             data/LACHES-pg1584.txt          LACHES
1591         data/PROTAGORAS-pg1591.txt      PROTAGORAS
1598         data/EUTHYDEMUS-pg1598.txt      EUTHYDEMUS
1600          data/SYMPOSIUM-pg1600.txt       SYMPOSIUM
1616           data/CRATYLUS-pg1616.txt        CRATYLUS
1635                data/ION-pg1635.txt             ION
1636           data/PHAEDRUS-pg1636.txt        PHAEDRUS
1642          data/EUTHYPHRO-pg1642.txt       EUTHYPHRO
1643               data/MENO-pg1643.txt            MENO
1656            data/APOLOGY-pg1656.txt         APOLOGY
1657              data/CRITO-pg1657.txt           CRITO
1658             data/PHAEDO-pg1658.txt          PHAEDO
1672            data/GORGIAS-pg1672.txt         GORGIAS
1673     data/LESSER_HIPPIAS-pg1673.txt  LESSER HIPPIAS
1676       data/ALCIBIADES_I-pg1676.txt    ALCIBIADES I
1677      data/ALCIBIADES_II-pg1677.txt   ALCIBIADES II
1681            data/ERYXIAS-pg1681.txt         ERYXIAS
1682          data/MENEXENUS-pg1682.txt       MENEXENUS
1687         data/PARMENIDES-pg1687.txt      PARMENIDES
1726         data/THEAETETUS-pg1726.txt      THEAETETUS
1735            data/SOPHIST-pg1735.txt         SOPHIST
1738          data/STATESMAN-pg1738.txt       STATESMAN
1744           data/PHILEBUS-pg1744.txt        PHILEBUS
1750               data/LAWS-pg1750.txt            LAWS

In [215]:
LIB['chap_regex'] = LIB.index.map(pd.Series({x[0]:x[1] for x in ohco_pat_list}))
LIB

,source_file_path,raw_title,chap_regex
book_id,,,
1497,data/THE_REPUBLIC-pg1497.txt,THE REPUBLIC,^\s*BOOK\s+[IVXLCM]+\.\s*$
1571,data/CRITIAS-pg1571.txt,CRITIAS,PERSONS OF THE DIALOGUE:
1572,data/TIMAEUS-pg1572.txt,TIMAEUS,^Section\s+\d+.$
1579,data/LYSIS-pg1579.txt,LYSIS,PERSONS OF THE DIALOGUE:
1580,data/CHARMIDES-pg1580.txt,CHARMIDES,PERSONS OF THE DIALOGUE:
1584,data/LACHES-pg1584.txt,LACHES,PERSONS OF THE DIALOGUE:
1591,data/PROTAGORAS-pg1591.txt,PROTAGORAS,PERSONS OF THE DIALOGUE:
1598,data/EUTHYDEMUS-pg1598.txt,EUTHYDEMUS,PERSONS OF THE DIALOGUE:
1600,data/SYMPOSIUM-pg1600.txt,SYMPOSIUM,PERSONS OF THE DIALOGUE:
1616,data/CRATYLUS-pg1616.txt,CRATYLUS,PERSONS OF THE DIALOGUE:
1635,data/ION-pg1635.txt,ION,PERSONS OF THE DIALOGUE:
1636,data/PHAEDRUS-pg1636.txt,PHAEDRUS,PERSONS OF THE DIALOGUE:
1642,data/EUTHYPHRO-pg1642.txt,EUTHYPHRO,PERSONS OF THE DIALOGUE:
1643,data/MENO-pg1643.txt,MENO,PERSONS OF THE DIALOGUE:
1656,data/APOLOGY-pg1656.txt,APOLOGY,APOLOGY
1657,data/CRITO-pg1657.txt,CRITO,PERSONS OF THE DIALOGUE:
1658,data/PHAEDO-pg1658.txt,PHAEDO,PERSONS OF THE DIALOGUE:
1672,data/GORGIAS-pg1672.txt,GORGIAS,PERSONS OF THE DIALOGUE:
1673,data/LESSER_HIPPIAS-pg1673.txt,LESSER HIPPIAS,PERSONS OF THE DIALOGUE:
1676,data/ALCIBIADES_I-pg1676.txt,ALCIBIADES I,PERSONS OF THE DIALOGUE:
1677,data/ALCIBIADES_II-pg1677.txt,ALCIBIADES II,PERSONS OF THE DIALOGUE:
1681,data/ERYXIAS-pg1681.txt,ERYXIAS,PERSONS OF THE DIALOGUE:
1682,data/MENEXENUS-pg1682.txt,MENEXENUS,PERSONS OF THE DIALOGUE:
1687,data/PARMENIDES-pg1687.txt,PARMENIDES,PERSONS OF THE DIALOGUE:
1726,data/THEAETETUS-pg1726.txt,THEAETETUS,PERSONS OF THE DIALOGUE:
1735,data/SOPHIST-pg1735.txt,SOPHIST,PERSONS OF THE DIALOGUE:
1738,data/STATESMAN-pg1738.txt,STATESMAN,PERSONS OF THE DIALOGUE:
1744,data/PHILEBUS-pg1744.txt,PHILEBUS,PERSONS OF THE DIALOGUE:
1750,data/LAWS-pg1750.txt,LAWS,^\s*BOOK\s+[IVXLCM]+\.\s*$

Applying the tokenize_collection function to make the token table -

In [216]:
CORPUS = tokenize_collection(LIB, beginning_pat)
CORPUS

Tokenizing 1497 THE REPUBLIC
Importing  data/THE_REPUBLIC-pg1497.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone ^\s*BOOK\s+[IVXLCM]+\.\s*$
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1571 CRITIAS
Importing  data/CRITIAS-pg1571.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone PERSONS OF THE DIALOGUE:
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1572 TIMAEUS
Importing  data/TIMAEUS-pg1572.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone ^Section\s+\d+.$
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1579 LYSIS
Importing  data/LYSIS-pg1579.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone PERSONS OF THE DIALOGUE:
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1580 CHARMIDES
Importing  data/CHARMIDES-pg1580.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone PERSONS OF THE DIALOGUE:
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1584 LACHES
Importing  data/LACHES-pg1584.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone PERSONS OF THE DIALOGUE:
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1591 PROTAGORAS
Importing  data/PROTAGORAS-pg1591.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone PERSONS OF THE DIALOGUE:
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1598 EUTHYDEMUS
Importing  data/EUTHYDEMUS-pg1598.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone PERSONS OF THE DIALOGUE:
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1600 SYMPOSIUM
Importing  data/SYMPOSIUM-pg1600.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone PERSONS OF THE DIALOGUE:
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1616 CRATYLUS
Importing  data/CRATYLUS-pg1616.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone PERSONS OF THE DIALOGUE:
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1635 ION
Importing  data/ION-pg1635.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone PERSONS OF THE DIALOGUE:
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1636 PHAEDRUS
Importing  data/PHAEDRUS-pg1636.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone PERSONS OF THE DIALOGUE:
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1642 EUTHYPHRO
Importing  data/EUTHYPHRO-pg1642.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone PERSONS OF THE DIALOGUE:
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1643 MENO
Importing  data/MENO-pg1643.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone PERSONS OF THE DIALOGUE:
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1656 APOLOGY
Importing  data/APOLOGY-pg1656.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone APOLOGY
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1657 CRITO
Importing  data/CRITO-pg1657.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone PERSONS OF THE DIALOGUE:
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1658 PHAEDO
Importing  data/PHAEDO-pg1658.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone PERSONS OF THE DIALOGUE:
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1672 GORGIAS
Importing  data/GORGIAS-pg1672.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone PERSONS OF THE DIALOGUE:
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1673 LESSER HIPPIAS
Importing  data/LESSER_HIPPIAS-pg1673.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone PERSONS OF THE DIALOGUE:
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1676 ALCIBIADES I
Importing  data/ALCIBIADES_I-pg1676.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone PERSONS OF THE DIALOGUE:
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model

/Users/iwu/Documents/School/Undergrad/Third Year/Spring 2023/DS 5001/Final Project/textparser.py:99: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  start = self.LINES.line_str.str.contains(start_pat, regex=True)

Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1677 ALCIBIADES II
Importing  data/ALCIBIADES_II-pg1677.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone PERSONS OF THE DIALOGUE:
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1681 ERYXIAS
Importing  data/ERYXIAS-pg1681.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone PERSONS OF THE DIALOGUE:
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1682 MENEXENUS
Importing  data/MENEXENUS-pg1682.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone PERSONS OF THE DIALOGUE:
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1687 PARMENIDES
Importing  data/PARMENIDES-pg1687.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone PERSONS OF THE DIALOGUE:
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1726 THEAETETUS
Importing  data/THEAETETUS-pg1726.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone PERSONS OF THE DIALOGUE:
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1735 SOPHIST
Importing  data/SOPHIST-pg1735.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone PERSONS OF THE DIALOGUE:
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1738 STATESMAN
Importing  data/STATESMAN-pg1738.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone PERSONS OF THE DIALOGUE:
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1744 PHILEBUS
Importing  data/PHILEBUS-pg1744.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone PERSONS OF THE DIALOGUE:
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Tokenizing 1750 LAWS
Importing  data/LAWS-pg1750.txt
Clipping text
Parsing OHCO level 0 chap_id by milestone ^\s*BOOK\s+[IVXLCM]+\.\s*$
line_str chap_str
Index(['chap_str'], dtype='object')
Parsing OHCO level 1 para_num by delimitter \n\n
Parsing OHCO level 2 sent_num by NLTK model
Parsing OHCO level 3 token_num by NLTK model
Done

                                                   pos_tuple  pos  token_str  \
book_id chap_id para_num sent_num token_num
1497    1       1        0        0                 (I, PRP)  PRP          I
                                  1              (went, VBD)  VBD       went
                                  2               (down, RB)   RB       down
                                  3          (yesterday, NN)   NN  yesterday
                                  4                 (to, TO)   TO         to
...                                                      ...  ...        ...
1750    12      127      0        5             (EBook, NNP)  NNP      EBook
                                  6                 (of, IN)   IN         of
                                  7             (Laws,, NNP)  NNP      Laws,
                                  8                 (by, IN)   IN         by
                                  9             (Plato, NNP)  NNP      Plato

                                              term_str
book_id chap_id para_num sent_num token_num
1497    1       1        0        0                  i
                                  1               went
                                  2               down
                                  3          yesterday
                                  4                 to
...                                                ...
1750    12      127      0        5              ebook
                                  6                 of
                                  7               laws
                                  8                 by
                                  9              plato

[738994 rows x 4 columns]

Adding more metadata to the LIB table, such as book length and the number of chapters -

In [189]:
LIB['book_len'] = CORPUS.groupby('book_id').term_str.count()
LIB['n_chaps'] = CORPUS.reset_index()[['book_id','chap_id']]\
    .drop_duplicates()\
    .groupby('book_id').chap_id.count()
LIB

,source_file_path,raw_title,chap_regex,book_len,n_chaps
book_id,,,,,
1497,data/THE_REPUBLIC-pg1497.txt,THE REPUBLIC,^\s*BOOK\s+[IVXLCM]+\.\s*$,118510,10
1571,data/CRITIAS-pg1571.txt,CRITIAS,PERSONS OF THE DIALOGUE:,6792,1
1572,data/TIMAEUS-pg1572.txt,TIMAEUS,^Section\s+\d+.$,69918,8
1579,data/LYSIS-pg1579.txt,LYSIS,PERSONS OF THE DIALOGUE:,9188,1
1580,data/CHARMIDES-pg1580.txt,CHARMIDES,PERSONS OF THE DIALOGUE:,10751,1
1584,data/LACHES-pg1584.txt,LACHES,PERSONS OF THE DIALOGUE:,10286,1
1591,data/PROTAGORAS-pg1591.txt,PROTAGORAS,PERSONS OF THE DIALOGUE:,22998,1
1598,data/EUTHYDEMUS-pg1598.txt,EUTHYDEMUS,PERSONS OF THE DIALOGUE:,15882,1
1600,data/SYMPOSIUM-pg1600.txt,SYMPOSIUM,PERSONS OF THE DIALOGUE:,22251,1
1616,data/CRATYLUS-pg1616.txt,CRATYLUS,PERSONS OF THE DIALOGUE:,23939,1
1635,data/ION-pg1635.txt,ION,PERSONS OF THE DIALOGUE:,5178,1
1636,data/PHAEDRUS-pg1636.txt,PHAEDRUS,PERSONS OF THE DIALOGUE:,23210,1
1642,data/EUTHYPHRO-pg1642.txt,EUTHYPHRO,PERSONS OF THE DIALOGUE:,6793,1
1643,data/MENO-pg1643.txt,MENO,PERSONS OF THE DIALOGUE:,12855,1
1656,data/APOLOGY-pg1656.txt,APOLOGY,APOLOGY,11406,1
1657,data/CRITO-pg1657.txt,CRITO,PERSONS OF THE DIALOGUE:,5389,1
1658,data/PHAEDO-pg1658.txt,PHAEDO,PERSONS OF THE DIALOGUE:,27512,1
1672,data/GORGIAS-pg1672.txt,GORGIAS,PERSONS OF THE DIALOGUE:,35833,1
1673,data/LESSER_HIPPIAS-pg1673.txt,LESSER HIPPIAS,PERSONS OF THE DIALOGUE:,6048,1
1676,data/ALCIBIADES_I-pg1676.txt,ALCIBIADES I,PERSONS OF THE DIALOGUE:,14811,1
1677,data/ALCIBIADES_II-pg1677.txt,ALCIBIADES II,PERSONS OF THE DIALOGUE:,5531,1
1681,data/ERYXIAS-pg1681.txt,ERYXIAS,PERSONS OF THE DIALOGUE:,6419,1
1682,data/MENEXENUS-pg1682.txt,MENEXENUS,PERSONS OF THE DIALOGUE:,6581,1
1687,data/PARMENIDES-pg1687.txt,PARMENIDES,PERSONS OF THE DIALOGUE:,18974,1
1726,data/THEAETETUS-pg1726.txt,THEAETETUS,PERSONS OF THE DIALOGUE:,31453,1
1735,data/SOPHIST-pg1735.txt,SOPHIST,PERSONS OF THE DIALOGUE:,22230,1
1738,data/STATESMAN-pg1738.txt,STATESMAN,PERSONS OF THE DIALOGUE:,23617,1
1744,data/PHILEBUS-pg1744.txt,PHILEBUS,PERSONS OF THE DIALOGUE:,23398,1
1750,data/LAWS-pg1750.txt,LAWS,^\s*BOOK\s+[IVXLCM]+\.\s*$,141143,12

Extracting a vocab table with annotations for the stopwords and stemming -

In [217]:
VOCAB = CORPUS.term_str.value_counts().to_frame('n').sort_index()
VOCAB.index.name = 'term_str'
sw = pd.DataFrame(nltk.corpus.stopwords.words('english'), columns=['term_str'])
sw = sw.reset_index().set_index('term_str')
sw.columns = ['dummy']
sw.dummy = 1
VOCAB['stop'] = VOCAB.index.map(sw.dummy)
VOCAB['stop'] = VOCAB['stop'].fillna(0).astype('int')
VOCAB

            n  stop
term_str
           95     0
1          38     0
10          1     0
100        13     0
10000       1     0
...        ..   ...
zones       9     0
zopyrus     1     0
zoroaster   1     0
zosin       1     0
zugon       3     0

[17140 rows x 2 columns]

In [218]:
from nltk.stem.porter import PorterStemmer
stemmer1 = PorterStemmer()
VOCAB['stem_porter'] = VOCAB.apply(lambda x: stemmer1.stem(x.name), 1)

from nltk.stem.snowball import SnowballStemmer
stemmer2 = SnowballStemmer("english")
VOCAB['stem_snowball'] = VOCAB.apply(lambda x: stemmer2.stem(x.name), 1)

from nltk.stem.lancaster import LancasterStemmer
stemmer3 = LancasterStemmer()
VOCAB['stem_lancaster'] = VOCAB.apply(lambda x: stemmer3.stem(x.name), 1)
VOCAB

            n  stop stem_porter stem_snowball stem_lancaster
term_str
           95     0
1          38     0           1             1              1
10          1     0          10            10             10
100        13     0         100           100            100
10000       1     0       10000         10000          10000
...        ..   ...         ...           ...            ...
zones       9     0        zone          zone            zon
zopyrus     1     0      zopyru       zopyrus          zopyr
zoroaster   1     0     zoroast       zoroast        zoroast
zosin       1     0       zosin         zosin          zosin
zugon       3     0       zugon         zugon          zugon

[17140 rows x 5 columns]

Applying the gather function to make a document table at the sentence level -

In [203]:
DOC = gather(CORPUS, 4)
DOC

                                                                            sent_str
book_id chap_id para_num sent_num
1497    1       1        0         I went down yesterday to the Piraeus with Glau...
                         1         ); and also because I wanted to see in what ma...
                         2         I was delighted with the procession of the inh...
                         3         When we had finished our prayers and viewed th...
                         4         The servant took hold of me by the cloak behin...
...                                                                              ...
1750    12      121      3         And the state will be perfected and become a w...
                122      0         MEGILLUS: Dear Cleinias, after all that has be...
                123      0         CLEINIAS: Very true, Megillus; and you must jo...
                124      0                                         MEGILLUS: I will.
                127      0         End of the Project Gutenberg EBook of Laws, by...

[31091 rows x 1 columns]

Outputting all the tables as csvs -

In [204]:
LIB.to_csv(f'{out_path}-LIB.csv')
VOCAB.to_csv(f'{out_path}-VOCAB.csv')
CORPUS.to_csv(f'{out_path}-CORPUS.csv')
DOC.to_csv(f'{out_path}-DOC.csv')